altgraph==0.17.4
bottle==0.13.3
bottle-websocket==0.2.9
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
Eel==0.18.1
future==1.0.0
gevent==25.4.2
gevent-websocket==0.10.1
greenlet==3.2.1
idna==3.10
packaging==25.0
pycparser==2.22
pygame==2.6.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pymunk==6.11.1
pyparsing==3.2.3
requests==2.32.3
setuptools==79.0.1
typing_extensions==4.13.2
urllib3==2.4.0
zope.event==5.0
zope.interface==7.2
